<% if flash[:notice] %>
    <div class="flash">
        <%= flash[:notice] %>
    </div>
<% end %>
<div>
    <table>
        <tr>
            <th>Title:</th>
            <td><%= @book.title %></td>
        </tr>
        <tr>
            <th>Body:</th>
            <td><%= @book.body %></td>
        </tr>
    </table>
</div>
<div>
    <%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Back", books_path %>
</div>